<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE9EC77F1CB41110003E94E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9EC7981CB41111003E94E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9EC7A31CB41111003E94E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
